version: "3.3"
services:
  web:
    build: 
      context: frontend
      dockerfile: Dockerfile
    image: warehouse:latest
    container_name: web-ware
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - ORIGIN=https://cb0a-93-45-80-172.ngrok.io
    networks:
      - warenet
      - db-net
    ports:
      - "3000:3000"
  db:
    container_name: db-ware
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - db-volumes:/var/lib/mysql
    networks:
      - db-net
    ports:
      - "3306:3306"

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
    networks:
      - db-net
      - warenet
    
networks:
  warenet:
  db-net:

volumes:
  db-volumes: